.titulos{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(113, 139, 73);
    text-align: center;
}

.contenedor{
    text-align: center;
}
.contenedor-secundario{
    width: 700px;
}
.align-izq{
    text-align: left;
}
.centrar{
    text-align: center;
    font-size: 25px;
}
footer{
    background-color: rgb(220, 168, 177);
    height: 25px;
}
footer p{
    text-align: center;
}