*{
    margin: 0;
}
.cabecera{
    background-color: blue;
    text-align: center;
    padding: .5rem;
    color: white;
}

.menu{
    background-color: white;
    display: flex;
    justify-content: center;
    height: 5vh;
}

.menu li{
    list-style: none;
    display: flex;
    align-items: center;
    padding: .2rem  1rem;
}

a{
    text-decoration: none;
}

.contenedor{
    display: flex;
    flex-direction: row-reverse;
}

.contenedor-seccion{
    width: 80%;
}

.seccion-1, .seccion-2{
    background-color: #e7e7e7;
    padding: 1.5rem 3rem;

}

aside{
    background-color: rgb(140, 181, 202);
    width: 20%;
    background-color: #cce7ff;
    
}

aside h2 {
    font-size: 1.5rem;
    color: #003366;
    margin-bottom: 1rem;
    text-align: center;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside li {
    margin: 0.5rem 0;
    font-size: 1rem;
    padding-left: 4rem;
}

footer {
    background-color: #003366;
    color: white;
    height: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{
    margin-top: 2rem;
    width: 400px;
}
figure{
    display: flex;
    justify-content: center;
}
footer p{
    color: white;
}