body{
    background-color: rgb(153, 162, 113);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

p{
    color: rgb(46, 46, 56);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

strong{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
img{
    width: 500px;
}
ul li {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

dt{
    color: red;
    font-weight: bold;
}

footer p{
    text-align: center;
    color: blueviolet;
    font-weight: bold;
}

.titulos-principales{
    color: rgb(123, 28, 28);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#localizacion {
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

.container{
    text-align: center;
    color: rgb(22, 22, 60);
    max-width: 800px;
    margin: 0 auto;
}

.spanClass{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.boton{
    color: rgb(219, 225, 218);
    font-size: 13px;
    border-radius: 20px;
    cursor:pointer;
    background-color: brown;
}
.flexStyle p{
    width: 30%;
}
.flexStyle{
    border: 20px green dashed;
    display: flex;
    justify-content: space-around;
}

.menu{
    display: flex;
    justify-content: flex-start;
}

