body{
    background-color: rgb(186, 221, 31);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

p{
    color: rgb(46, 46, 56);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

strong{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

ul li {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

dt{
    color: red;
    font-weight: bold;
}